
{% extends "base.html" %}

{% block content %}

<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

          <a type="button" class="btn btn-outline-success" href="{{ url_for('main.create_election') }}" >Add Vote</a>
        <ul class="nav flex-column">
            {% for vote in votes %}
                  <li class="nav-item">
                    <a class="nav-link" href="?vote_name={{  vote.hash }}">
                      <span data-feather="file"></span>
                      {{ vote.vote_name }}
                    </a>
                  </li>
            {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>
<h2> Results</h2>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col" ><h2>Name</h2></th>
      <th scope="col" colspan="3"><h2>Vote Count</h2></th>
    </tr>
  </thead>
  <tbody>
  {% for name, vote in result %}
    <tr>
      <td>{{ name }}</td>
      <td colspan="3"><div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ vote*100/count }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>
      <td>{{ vote * 100/count }}% ( {{ vote }} )</td>
    </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}